/* shop.html styling */
#shop-product{
    background-color: black;
    color: white;
    padding-top: 5rem;
}

.dropdown{
    float: right;
    margin-top: -50px;
}
.dropdown span{
    font-size: 18px;
    color: #456666;
}
.shop-content p{
    font-size: 20px;
    /* color: #bcd1d1; */
}
.shop-content hr{
    background-color: #456666;
    color: #456666;
    margin-bottom: 3rem;
}
